# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist/
build/
.expo/
.next/
.turbo/
*.tsbuildinfo

# Logs & temp files
*.log
*.txt

# Lockfiles from other package managers
package-lock.json
yarn.lock

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
